
html {
  background: #C6DCF0 url("/gfx/flickr/landscape_sm.jpg") no-repeat fixed top left;
}

/**
 * Intro content.
 */
#intro h1,
#intro h2,
#intro h3,
#intro h4 {
  text-shadow: 1px 1px 1px #EAEAEA;
}

#intro h1 {
  text-transform: lowercase;
  padding-top: 10px;
  font-size: 5em;
  color: #999;
}

#intro h2 {
  text-transform: lowercase;
  font-size: 3em;
  margin-top: -40px;
  color: #999;
}

#intro h3 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #333;
  text-shadow: 1px 1px 1px #CCC;
}

#intro h4 {
  font-size: 1.5em;
  margin-top: 5px;
  color: #999;
}

/**
 * Timeline
 */
#timeline_wrapper {
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

#left_nav,
#right_nav {
  position: fixed;
  width: 50px;
  height: 100px;
  background-color: #FFF;
  z-index: 5;
  opacity: 0.5;
}

#left_nav:hover,
#right_nav:hover {
  opacity: 1.0;
}

#left_nav {
  left: 0;
  cursor: w-resize;
  background-image: url("/gfx/earlier.png");
}

#right_nav {
  right: 0;
  cursor: e-resize;
  background-image: url("/gfx/newer.png");
}

#timeline {
  padding: 10px;
  position: relative;
}

#timeline .entry {
  width: 821px;
  padding: 0 100px;
  float: left;
}

#timeline .latest {
  padding-right: 0;
}

#timeline .entry .content {
  position: absolute;
  width: 821px;
}

#timeline .entry .floor {
  margin-top: 250px;
  margin-bottom: 20px;
  background-image: url("/gfx/flooring.png");
  left: 0;
  width: 821px;
  height: 227px;
}

#timeline .entry .content .center {
  margin: 0 auto;
}

#timeline .entry .content ul {
  margin-left: 100px;
  position: absolute;
}

#timeline .entry .content ul li {
  margin: 13px 5px;
  opacity: 0.8;
}

#timeline .entry .content ul.top_align li {
  float: left;
}

#timeline .entry .permalink,
#timeline .entry .content ul li span,
#timeline .entry .content ul li a {
  background-color: #FFF;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#timeline .entry .content ul li a {
  color: #00F;
}

#timeline .entry .content ul li a:hover {
  background-color: #EEE;
  text-decoration: none;
  color: #00A;
}

#timeline .entry .content ul li a:active {
  background-color: #EEE;
}

#timeline .entry .content ul li a:visited {
  color: #00A;
}

#timeline .entry .content ul li a.image {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#timeline .entry .content ul li a.moredetails {
  background-color: #6F6;
  color: #000;
}

#timeline .entry .content ul li a.moredetails:hover {
  background-color: #9F9;
}

#timeline .entry .permalink {
  margin-top: 8px;
  position: absolute;
  right: 200px;
}

#timeline .entry .permalink a {
  color: #00F;
}
