
#content .navbar {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#content .navbar .previous,
#content .navbar .title,
#content .navbar .next {
  font-size: 2em;
}

#content .navbar .previous {
  float: left;
}

#content .navbar .title {
  text-align: center;
}

#content .navbar .next {
  float: right;
  margin-right: 20px;
}

#content .navbar a,
#content .navbar .fakelink {
  color: #FFF;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#content .navbar a:hover {
  background-color: #FFF;
  color: #333;
  text-decoration: none;
}

#intro {
  padding-top: 52px;
}

#content .actionbar {
  display: block;
  margin-top: 20px;
  background-color: #111;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  font-size: 4em;
  opacity: 0.7;
  -webkit-box-shadow: 1px 1px 10px #fff;
}

#content a.actionbar:hover {
  text-decoration: none;
}

#content .actionbar:hover {
  opacity: 0.9;
}

#content .backbar {
  display: block;
  margin-top: 20px;
  background-color: #FFF;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  color: #111;
  font-weight: bold;
  font-size: 2em;
  opacity: 0.6;
}

#content a.backbar:hover {
  text-decoration: none;
}

#content .backbar:hover {
  opacity: 0.9;
}

#content .profile {
  margin-top: 20px;
  padding: 10px;
  background-color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.9;
}

#content .profile h1 {
  color: #111;
  padding-top: 0;
  padding-bottom: 10px;
  font-size: 2em;
  text-transform: none;
  text-shadow: 1px 1px 1px #CCC;
}

#content .profile .column {
  float: left;
  margin-right: 20px;
  padding-left: 20px;
  border-left: 1px dashed #000;
}

#content .profile .column h2 {
  margin-top: 0;
  font-size: 2em;
  text-transform: none;
  color: #999;
}

#content .profile .column dt,
#content .profile .column dd {
  font-size: 1.3em;
}

#content .profile .column dt {
  color: #999;
  margin-right: 5px;
}

#content .profile .column dd {
  margin-left: 10px;
}
