
html {
  background-color: #111;
}

#legend {
  position: fixed;
  background-color: #CCC;
  width: 100%;
  color: #FFF;
  z-index: 5;
  border-bottom: 5px dashed #999;
  opacity: 0.98;
}

body,
li,
a,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#legend li {
  padding: 10px 5px;
  float: left;
  -webkit-font-smoothing: antialiased;
  color: #333;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  margin-right: 20px;
}

#legend .legend {
  color: #888;
}

#legend .internship {
  border-left: 36px solid #A299B5;
}

#legend .open-source {
  border-left: 36px solid #868DC1;
}

#legend .iphone {
  border-left: 36px solid #8ED5AD;
}

#legend .website {
  border-left: 36px solid #FFD8AA;
}

#legend .game {
  border-left: 36px solid #CCF1A1;
}

#preamble {
  padding-top: 61px;
}

#preamble p {
  color: #777;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
}

#preamble .note {
  background-color: #FFC;
  color: #333;
  margin-top: 10px;
  padding: 5px;
}

#timeline {
  margin-top: 20px;
  border-left: 1px solid #333;
  padding-left: 10px;
}

#timeline .header h1,
#timeline .year h1 {
  font-size: 5em;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

#timeline .header h1 {
  float: right;
}

#timeline .year {
  margin-bottom: 10px;
}

#timeline .events {
  position: relative;
}

#timeline .events ul {
  margin-left: 20px;
}

#timeline .events li {
  list-style-type: square;
  margin-bottom: 10px;
  min-width: 150px;
  color: #999;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
}

#timeline .events li .timestamp {
  color: #999;
  font-size: 0.85em;
  -webkit-font-smoothing: antialiased;
}

#timeline .events .timespan {
  background-color: #333;
  color: #333;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  margin-top: 5px;
  -webkit-font-smoothing: antialiased;
}

#timeline .events .timespan .content {
  padding: 2px 10px;
  width: 180px;
  font-size: 1.2em;
}

#timeline .events .timespan .info {
  display: none;
  background-color: #333;
  padding: 5px;
  position: absolute;
}

#timeline .events .timespan:hover .info {
  display: block;
}

#timeline .events .timespan .timestamp {
  color: #333;
  font-size: 0.85em;
}

#timeline .events .timespans .internship,
#timeline .events .timespans .internship .info {
  background-color: #A299B5;
}

#timeline .events .timespans .open-source,
#timeline .events .timespans .open-source .info {
  background-color: #868DC1;
}

#timeline .events .timespans .iphone,
#timeline .events .timespans .iphone .info {
  background-color: #8ED5AD;
}

#timeline .events .timespans .website,
#timeline .events .timespans .website .info {
  background-color: #FFD8AA;
}

#timeline .events .timespans .game,
#timeline .events .timespans .game .info {
  background-color: #CCF1A1;
}

#timeline .events a {
  color: #667733;
}

#timeline .events .timespans a {
  color: #334400;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

#timeline .events .timespans .short_event,
#timeline .events .timespans .short_event a {
  text-shadow: none;
  color: #999;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
}

#timeline .months {
  background-color: #333;
}

#timeline .month {
  float: left;
  text-align: center;
  padding: 10px;
  color: #999;
  width: 45px;
  text-shadow: 0px -1px 0px #111;
}

#timeline .future_month {
  color: #666;
  text-shadow: none;
  text-shadow: 0px -1px 0px #111;
}
