
#legend {
  position: fixed;
  background-color: #333;
  width: 100%;
  color: #FFF;
  z-index: 5;
  border-bottom: 5px dashed #999;
  opacity: 0.9;
}

#timeline {
  padding-top: 41px;
  border-left: 1px solid #999;
  padding-left: 10px;
}

#timeline .header h1,
#timeline .year h1 {
  font-size: 5em;
  color: #DDD;
  text-shadow: -1px -1px 0px #AAA;
}

#timeline .header h1 {
  float: right;
}

#timeline .year {
  margin-bottom: 10px;
}

#timeline .events {
  position: relative;
}

#timeline .events ul {
  margin-left: 20px;
}

#timeline .events li {
  list-style-type: square;
  margin-bottom: 10px;
}

#timeline .events li .timestamp {
  color: #666;
  font-size: 0.85em;
}

#timeline .events .timespan {
  background-color: #333;
  color: #FFF;
  text-shadow: 1px 1px 1px #111;
  margin-top: 5px;
}

#timeline .events .timespan .content {
  padding: 2px 10px;
  width: 200px;
}

#timeline .events .timespan .info {
  display: none;
  background-color: #333;
  padding: 5px;
}

#timeline .events .timespan:hover .info {
  display: block;
}

#timeline .events .timespan .timestamp {
  color: #FFF;
  font-size: 0.85em;
}

#timeline .events .timespans .internship,
#timeline .events .timespans .internship .info {
  background-color: #963;
}

#timeline .events .timespans .open-source,
#timeline .events .timespans .open-source .info {
  background-color: #393;
}

#timeline .events .timespans .iphone,
#timeline .events .timespans .iphone .info {
  background-color: #369;
}

#timeline .events .timespans .website,
#timeline .events .timespans .website .info {
  background-color: #936;
}

#legend li {
  padding: 10px;
  float: left;
  text-shadow: 1px 1px 1px #000;
}

#legend .internship {
  border-left: 36px solid #963;
}

#legend .open-source {
  border-left: 36px solid #393;
}

#legend .iphone {
  border-left: 36px solid #369;
}

#legend .website {
  border-left: 36px solid #936;
}

#timeline .events .timespans .short_event a {
  color: #000;
  text-shadow: none;
}

#timeline .events .timespans a {
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}

#timeline .events .timespans .short_event a {
  color: #00F;
}

#timeline .months {
  background-color: #666;
}

#timeline .month {
  float: left;
  text-align: center;
  padding: 10px;
  color: #FFF;
  width: 45px;
  text-shadow: 1px 1px 1px #111;
}

#timeline .future_month {
  color: #999;
  text-shadow: none;
}
